/*Added on 7Dec2022*/

:root{
    --logoLightYellow : #e3b812;
    --logoDarkYellow : #897115;
    --logoGray : #4b4b44;
}

/*Added on 7Dec2022*/
body{
    background-image: url("./images/bgRectGradient.svg");
     /* background-size:cover; */
    background-repeat: repeat-x;
    font-size: 16px; 
}

*
{
    margin:0;
    box-sizing: border-box;
}

.header
{
    background-color: black;
    height:8vh;
}
.main_heading_continer
{
    /* height:48vh; */
    /* background:url("./images/background_blog.jfif"); */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    border: none;
    border-radius: 20px;
}
.blog-main-heading
{
    font-size: 8vw;
    margin: 64px !important;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.blog-container
{
    padding:2em;
}

/*Edited on 7Dec2022*/ 

.blog_main
{
    height: 100%;
    /* width:100%; */
    width: 72%;
    background-color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
    padding:2em;
    /* border:2px rgb(177, 177, 177) solid; */
    border-radius: 8px;
    /* box-shadow: 0px 2px 4px 1px var(--logoGray); */
    box-shadow: 1px 2px 4px 0px var(--logoGray);
}

/*Edited on 7Dec2022*/
.blog-para-1
{
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: 600;
    font-size: 1.25em;
}
.footer
{
    background-color: black;
    height:24vh;
    width:100%;
}
/*Edited on 7Dec2022*/
.question
{
    margin:1em;
}
.ans{
    margin: 2em;
}
/*Edited on 7Dec2022*/
.button-container
{
    /* height: 100%; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}
.next-button
{
    font-size: 2vw;
    padding: 1em;
    border:2px rgb(95, 95, 95) solid;
    font-family: 'Oswald', sans-serif;
    border: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.common-author
{
    font-size: 1.25em;
    text-align: left;
    margin: 2em;
}

/*Added on 6Dec2022*/
.rf{
    display:flex !important;
    justify-content:center !important;
    align-items:center !important;
}
.mt1{
    margin-top: 1px !important;
}

/*Added on 7Dec2022*/

.textGrad{
    background: -webkit-linear-gradient(#4b4b44,var(--logoLightYellow));
    font-size: 8vw;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}

/*Added on 7Dec2022*/

/*For mobile devices*/
@media screen and (max-width: 600px){
    body{
        background-repeat: repeat-y;
    }
    .blog_main{
        width: 96%;
    }
    .blog-main-heading{
        font-size: 12vw;
        margin-top: 128px !important;
    }
    .question{
        margin:1em 0em;
    }
    .ans{
        margin: 2em 0em ;
    }
}

/*Added on 7Dec2022*/
