:root{
    --primary:#ffba08;
    /* --navbg:rgb(24, 8, 56); */
    --navbg:#03071e;
    --about:rgb(255, 146, 12);
    --secondary:#ef233c;
    --neutral:#dee2ff;
    --dark:#303030;
    --tertiery:#fbea68;
}
*{
    transition: all 0.16s linear;
    font-family: "Open Sans", arial, sans-serif !important;
    font-weight: 400 !important;
    }
body{
    overflow-x: hidden;
    padding: 0 !important;
    margin: 0 !important;
}
html,body{
    font-family: 'Roboto Condensed', sans-serif;
    scrollbar-color: #03071e rgb(255, 255, 255);
} 
#wave{
    vertical-align:top !important;  /*to remove white space after svg*/
}
/*Common Flex properties */
.txt-blue{
    color:#73adff;
}
.f1{
    font-size: 32pt;
}
.f2{
    font-size: 24pt; 
}
.f3{
    font-size:16pt;
}
.f4{
    font-size: 20pt;
}
.fw2{
    font-weight: 580;   
}
.fw3{
    font-weight: 700;
}
.mp4{
    margin: 4px;
    padding: 4px;
}
.mp8{
    margin: 8px;
    padding: 8px;
}
.mp16{
    margin: 16px;
    padding: 16px;
}
.mp32{
    padding:32px;
    margin:32px;
}
.dfc{
    display:flex;
    justify-content:center;
    align-items:center;
}
.cflex{ /* common Flex-Column properties */
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align: center;
}
/*Disabling scroll bar visibiity */

/*Navbar*/
nav{ 
    /* margin-bottom:32px; */
    width:100vw;
    z-index:2;
    position: fixed !important;
    padding:0px 8px;
    display: grid;
    /* gap:8px; */
    grid-template-columns:repeat(3,1fr);
    font-weight:888;
    background-color:rgb(255, 255, 255);
}

.logo{
    width:48px !important;
    height: 48px !important;
}
.enigmaLogo{
  display:flex;
  justify-content:flex-end;
  padding-right: 40px;
 
}
.navItemWrapper{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap:8px;
}

.navItem{
padding:8px;
margin:0px 16px;
}
.navItem:hover{
    color:var(--secondary);
  }


/*Section1 */
.sec1{
    width:100vw;
    height:48vh;
    padding-top: 120px;
    color: var(--navbg);
}

.mainHead{
    color:#272729;
    font-size: 112px;
}

/*Landing */
.idea{
    color: var(--primary);
    animation: txtAnim 8s infinite LINEAR;
}
.subHead{
    font-family: 'Merienda', cursive;
    /* font-family:'Righteous', cursive ; */
    display: none; /*Disabling for larger screens*/
}


/*typing text styling and animations Start*/

.wrapper{
    font-family: 'Merienda', cursive;
    text-align: left;
}
.wrapper .static-txt{
  color: rgb(40, 40, 40);
  font-size: 48px;
  font-weight: 200;
}
.wrapper .dynamic-txts{
  margin-left: 16px;
  height: 88px;
  line-height:88px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: var(--secondary);
  font-size: 48px;
  font-weight:560;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 8px 0px;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  bottom:8px;
  height: 100%;
  width: 100%;
  background: #ffffff;
  border-left: 2px solid var(--secondary);
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}
/*typing text styling and animations End*/

.regBtn{
    z-index:100;
    padding:16px;
    margin:16px;
    font-size:16px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 32px;
}
.regBtn:hover{
background-color: white;
border: 1px solid var(--primary);
cursor:pointer;
}

/*Text animation*/
@keyframes txtAnim {
    from{
        color: var(--primary);
    }
    to{
        color:var(--secondary);
    }
}


/*Waves animation*/
.wave1 path{

    animation:anim 56s infinite linear;
}

/*SVG animation keyframes*/
@keyframes anim{
    0%{
        d:path("M0,343L40,359.3C80,376,160,408,240,351.2C320,294,400,147,480,98C560,49,640,98,720,147C800,196,880,245,960,269.5C1040,294,1120,294,1200,261.3C1280,229,1360,163,1440,130.7C1520,98,1600,98,1680,147C1760,196,1840,294,1920,351.2C2000,408,2080,425,2160,424.7C2240,425,2320,408,2400,343C2480,278,2560,163,2640,130.7C2720,98,2800,147,2880,212.3C2960,278,3040,359,3120,392C3200,425,3280,408,3360,400.2C3440,392,3520,392,3600,383.8C3680,376,3760,359,3840,326.7C3920,294,4000,245,4080,253.2C4160,261,4240,327,4320,302.2C4400,278,4480,163,4560,106.2C4640,49,4720,49,4800,57.2C4880,65,4960,82,5040,73.5C5120,65,5200,33,5280,24.5C5360,16,5440,33,5520,57.2C5600,82,5680,114,5720,130.7L5760,147L5760,490L5720,490C5680,490,5600,490,5520,490C5440,490,5360,490,5280,490C5200,490,5120,490,5040,490C4960,490,4880,490,4800,490C4720,490,4640,490,4560,490C4480,490,4400,490,4320,490C4240,490,4160,490,4080,490C4000,490,3920,490,3840,490C3760,490,3680,490,3600,490C3520,490,3440,490,3360,490C3280,490,3200,490,3120,490C3040,490,2960,490,2880,490C2800,490,2720,490,2640,490C2560,490,2480,490,2400,490C2320,490,2240,490,2160,490C2080,490,2000,490,1920,490C1840,490,1760,490,1680,490C1600,490,1520,490,1440,490C1360,490,1280,490,1200,490C1120,490,1040,490,960,490C880,490,800,490,720,490C640,490,560,490,480,490C400,490,320,490,240,490C160,490,80,490,40,490L0,490Z");

    }
    25%{
        d:path("M0,98L40,81.7C80,65,160,33,240,73.5C320,114,400,229,480,294C560,359,640,376,720,326.7C800,278,880,163,960,147C1040,131,1120,212,1200,220.5C1280,229,1360,163,1440,147C1520,131,1600,163,1680,171.5C1760,180,1840,163,1920,138.8C2000,114,2080,82,2160,89.8C2240,98,2320,147,2400,163.3C2480,180,2560,163,2640,130.7C2720,98,2800,49,2880,81.7C2960,114,3040,229,3120,245C3200,261,3280,180,3360,171.5C3440,163,3520,229,3600,212.3C3680,196,3760,98,3840,65.3C3920,33,4000,65,4080,89.8C4160,114,4240,131,4320,130.7C4400,131,4480,114,4560,155.2C4640,196,4720,294,4800,310.3C4880,327,4960,261,5040,228.7C5120,196,5200,196,5280,220.5C5360,245,5440,294,5520,326.7C5600,359,5680,376,5720,383.8L5760,392L5760,490L5720,490C5680,490,5600,490,5520,490C5440,490,5360,490,5280,490C5200,490,5120,490,5040,490C4960,490,4880,490,4800,490C4720,490,4640,490,4560,490C4480,490,4400,490,4320,490C4240,490,4160,490,4080,490C4000,490,3920,490,3840,490C3760,490,3680,490,3600,490C3520,490,3440,490,3360,490C3280,490,3200,490,3120,490C3040,490,2960,490,2880,490C2800,490,2720,490,2640,490C2560,490,2480,490,2400,490C2320,490,2240,490,2160,490C2080,490,2000,490,1920,490C1840,490,1760,490,1680,490C1600,490,1520,490,1440,490C1360,490,1280,490,1200,490C1120,490,1040,490,960,490C880,490,800,490,720,490C640,490,560,490,480,490C400,490,320,490,240,490C160,490,80,490,40,490L0,490Z"
        );
    }
    50%{
        d:path("M0,196L40,236.8C80,278,160,359,240,375.7C320,392,400,343,480,310.3C560,278,640,261,720,212.3C800,163,880,82,960,49C1040,16,1120,33,1200,106.2C1280,180,1360,310,1440,302.2C1520,294,1600,147,1680,73.5C1760,0,1840,0,1920,49C2000,98,2080,196,2160,245C2240,294,2320,294,2400,253.2C2480,212,2560,131,2640,147C2720,163,2800,278,2880,269.5C2960,261,3040,131,3120,98C3200,65,3280,131,3360,130.7C3440,131,3520,65,3600,89.8C3680,114,3760,229,3840,269.5C3920,310,4000,278,4080,277.7C4160,278,4240,310,4320,269.5C4400,229,4480,114,4560,114.3C4640,114,4720,229,4800,294C4880,359,4960,376,5040,326.7C5120,278,5200,163,5280,106.2C5360,49,5440,49,5520,89.8C5600,131,5680,212,5720,253.2L5760,294L5760,490L5720,490C5680,490,5600,490,5520,490C5440,490,5360,490,5280,490C5200,490,5120,490,5040,490C4960,490,4880,490,4800,490C4720,490,4640,490,4560,490C4480,490,4400,490,4320,490C4240,490,4160,490,4080,490C4000,490,3920,490,3840,490C3760,490,3680,490,3600,490C3520,490,3440,490,3360,490C3280,490,3200,490,3120,490C3040,490,2960,490,2880,490C2800,490,2720,490,2640,490C2560,490,2480,490,2400,490C2320,490,2240,490,2160,490C2080,490,2000,490,1920,490C1840,490,1760,490,1680,490C1600,490,1520,490,1440,490C1360,490,1280,490,1200,490C1120,490,1040,490,960,490C880,490,800,490,720,490C640,490,560,490,480,490C400,490,320,490,240,490C160,490,80,490,40,490L0,490Z");
    }
    75%{
        d:path("M0,392L40,375.7C80,359,160,327,240,318.5C320,310,400,327,480,294C560,261,640,180,720,196C800,212,880,327,960,375.7C1040,425,1120,408,1200,334.8C1280,261,1360,131,1440,89.8C1520,49,1600,98,1680,155.2C1760,212,1840,278,1920,326.7C2000,376,2080,408,2160,351.2C2240,294,2320,147,2400,114.3C2480,82,2560,163,2640,204.2C2720,245,2800,245,2880,204.2C2960,163,3040,82,3120,98C3200,114,3280,229,3360,261.3C3440,294,3520,245,3600,261.3C3680,278,3760,359,3840,383.8C3920,408,4000,376,4080,318.5C4160,261,4240,180,4320,171.5C4400,163,4480,229,4560,236.8C4640,245,4720,196,4800,220.5C4880,245,4960,343,5040,351.2C5120,359,5200,278,5280,228.7C5360,180,5440,163,5520,147C5600,131,5680,114,5720,106.2L5760,98L5760,490L5720,490C5680,490,5600,490,5520,490C5440,490,5360,490,5280,490C5200,490,5120,490,5040,490C4960,490,4880,490,4800,490C4720,490,4640,490,4560,490C4480,490,4400,490,4320,490C4240,490,4160,490,4080,490C4000,490,3920,490,3840,490C3760,490,3680,490,3600,490C3520,490,3440,490,3360,490C3280,490,3200,490,3120,490C3040,490,2960,490,2880,490C2800,490,2720,490,2640,490C2560,490,2480,490,2400,490C2320,490,2240,490,2160,490C2080,490,2000,490,1920,490C1840,490,1760,490,1680,490C1600,490,1520,490,1440,490C1360,490,1280,490,1200,490C1120,490,1040,490,960,490C880,490,800,490,720,490C640,490,560,490,480,490C400,490,320,490,240,490C160,490,80,490,40,490L0,490Z");
    }

    100%{
          d:path("M0,343L40,359.3C80,376,160,408,240,351.2C320,294,400,147,480,98C560,49,640,98,720,147C800,196,880,245,960,269.5C1040,294,1120,294,1200,261.3C1280,229,1360,163,1440,130.7C1520,98,1600,98,1680,147C1760,196,1840,294,1920,351.2C2000,408,2080,425,2160,424.7C2240,425,2320,408,2400,343C2480,278,2560,163,2640,130.7C2720,98,2800,147,2880,212.3C2960,278,3040,359,3120,392C3200,425,3280,408,3360,400.2C3440,392,3520,392,3600,383.8C3680,376,3760,359,3840,326.7C3920,294,4000,245,4080,253.2C4160,261,4240,327,4320,302.2C4400,278,4480,163,4560,106.2C4640,49,4720,49,4800,57.2C4880,65,4960,82,5040,73.5C5120,65,5200,33,5280,24.5C5360,16,5440,33,5520,57.2C5600,82,5680,114,5720,130.7L5760,147L5760,490L5720,490C5680,490,5600,490,5520,490C5440,490,5360,490,5280,490C5200,490,5120,490,5040,490C4960,490,4880,490,4800,490C4720,490,4640,490,4560,490C4480,490,4400,490,4320,490C4240,490,4160,490,4080,490C4000,490,3920,490,3840,490C3760,490,3680,490,3600,490C3520,490,3440,490,3360,490C3280,490,3200,490,3120,490C3040,490,2960,490,2880,490C2800,490,2720,490,2640,490C2560,490,2480,490,2400,490C2320,490,2240,490,2160,490C2080,490,2000,490,1920,490C1840,490,1760,490,1680,490C1600,490,1520,490,1440,490C1360,490,1280,490,1200,490C1120,490,1040,490,960,490C880,490,800,490,720,490C640,490,560,490,480,490C400,490,320,490,240,490C160,490,80,490,40,490L0,490Z");
        
    }
}
.sec2{
    /* background: linear-gradient(180deg, #F36B3D 8%, rgb(255, 255, 255) 56.41%); */
    background: linear-gradient(180deg, var(--about) 8%, rgb(255, 255, 255) 56.41%);
    width:100vw;
   
}

.about{
    color: var(--navbg);
    margin:-1px 8px 8px 0px;
    padding:64px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: center;
}
.about  p{
text-align: left;
}
.svgLanding{
    width:512px;
    height:auto;
}


/*Section 3 Styling Start*/
.sec3,.sec4{
    color: #fff;
    width:100vw;
}
.sec3{
background-image: url(./svgs/bganimated.svg);
background-size: 100vw;
}
.trackWrapper{
    border-radius: 8px; 
}
.splTrackWrapper{

    background-color: rgba(255,255,255, 0.1);
    border-radius: 8px;
}

.trackImg{
width:256px;
height:256px;
}

.prize1,.prize2,.prize3{
    /* color: #03071e; */
    border-radius: 8px;
}
.prize1{
    color: #FFD700;
}
.prize2{
    color: #c0c0c0;
}
.prize3{
    color: #CD7F32;
}

/*Timeline section Start*/
.bgPrism{
    opacity:0.8;
}

.sec4{
    background-image: url(./svgs/bg4prism.svg);
    color:var(--navbg);
}

.timeWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .tCard1 { grid-area: 2 / 1 / 3 / 2; }
    .tCard2 { grid-area: 1 / 2 / 2 / 3; }
    .tCard3 { grid-area: 1 / 3 / 2 / 4; }
    .tCard4 { grid-area: 2 / 4 / 3 / 5; }
    .ropeLogo { grid-area: 2 / 2 / 4 / 4; }
    .timeRope{
        width:256px;
        height:256px;
    }
    .rope{
        display: none;
    }
.tCard1,.tCard2,.tCard3,.tCard4{
  border-radius: 8px;
  width:128px;
  height:128px;
  font-weight: 560;
  box-shadow: 0px 4px 8px 0px rgba(129, 129, 129, 0.75);
  animation: cardShadow 4s  infinite linear;
  animation-direction: alternate;
}
.tCard1{
    background: linear-gradient(180deg,#EE8C54 10%, #fff 90%);
}
.tCard2{
    background: linear-gradient(180deg, #0E4EA8 0%, rgba(14, 78, 168, 0) 100%);
}
.tCard3{
    background: linear-gradient(180deg, #0E4EA8 0%, rgba(14, 78, 168, 0) 100%);
}
.tCard4{
    background: linear-gradient(180deg,#EE8C54 10%, #fff 90%);
}  
/* .box{
    width:200px;
    height:200px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
 
} */
@keyframes cardShadow {
    from{
        box-shadow: 0px 4px 8px 0px rgba(129, 129, 129, 0.75);
    }
    to{
        box-shadow: rgba(7, 131, 240, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    }
}
/*Timeline section End*/

/*FAQs section styling*/
.sec6{
    height:64vh;
    text-align: center;
}
/*Details and summary styling Start*/
details>summary{
    list-style: none;
}
details {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.16s background linear;
}
details:hover {
    /* background: var(--tertiery); */
}
summary {
    padding: 8px;
    list-style: none;
    padding-left: 32px;
}
details p {
    cursor: auto;
    background:rgb(219, 219, 203);
    position: absolute;
    border-radius: 8px;
}
/*Styling for the triangle at top*/
details p:before {
    content: "";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid rgb(219, 219, 203);
    top: -8px;
    position: absolute;
    left: 24px;
}
details[open] p {
    animation: animateDown 0.2s linear forwards;
}
@keyframes animateDown {
    0% {
        opacity: 0;
       
        transform: translatey(-16px);
   }
    100% {
        opacity: 1;
        z-index: 1;
        transform: translatey(0);
   }
}
/*Details and summary styling End*/
.sec6{

}
 .faqsWrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:40px;
    /* background-color: #f9faf9; */
}
.faqAns{
    background-color: #f9faf8;
    border-radius: 8px;
}

.footer{
    margin:-1px 0px;
    color: #ffffff;
    background-color: var(--dark);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 0px; 
}


    .fCol1 { grid-area: 1 / 1 / 2 / 2; }
    .fCol2 { grid-area: 1 / 2 / 2 / 3; }
    .fCol3 { grid-area: 1 / 3 / 2 / 4; }
    .fRow2 { grid-area: 2 / 1 / 3 / 4; }
    .socialLogo{
        width:32px;
        height:32px;
    }
    .fCol2 path:hover{
        fill: white;
    }
    .fRow2 a{
        color: #fff;
    }
   
/*Styles for mobile screens less than 800px width*/
@media(max-width:800px){
    html{
        overflow-x: scroll !important;
        /* padding:0px !important;       
        margin: 0px !important; */
    }
    .logo{
        width:32px;
        height:32px;
    }
    .sec1{
        padding-top: 32px;
    }
    .aboutImg,.typingtxt{
        display:none;
    }
    .mainHead{
        font-size: 48px;
    }
    .subHead{
        display: flex;
        color:rgb(84, 84, 84);
    }
    nav{
        overflow-x: scroll;
    }
   .navItem{
       padding:4px;
   }
    .t1Img,.t2Img,.t3Img{
        width:56px;
        height: 56px;
        padding:8px;
    }

    .faqsWrapper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:56px 0px;
    }
    .about{
       display:flex;
       flex-direction: column;
       justify-content:center;
       align-items:center;       
    }
    .ropeLogo{
        display:none;
    }
    .rope{
        display:block;
    }
    .timeWrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        }
        
        .tCard1 { grid-area: 1 / 1 / 2 / 2; }
        .tCard2 { grid-area: 2 / 3 / 3 / 4; }
        .tCard3 { grid-area: 3 / 1 / 4 / 2; }
        .tCard4 { grid-area: 4 / 3 / 5 / 4; }
        .rope { grid-area: 1 / 2 / 5 / 3; }
        

    .svgLanding{
        display: none !important;
    }
}
