:root {
  --primary: #ffba08;
  --navbg: #03071e;
  --secondary: #ef233c;
  --neutral: #dee2ff;
  --tertiery: #fbea68;
  --dark: #303030;
  --logoBlue: #134fa6;
  --logoOrange: #ff914d;
  /* --content:#134FA6; */
  --logoGrad: linear-gradient(180deg, #134fa6 0%, #ff914d 100%);
}
* {
  transition: all 0.16s linear;
  font-family: "Open Sans", arial, sans-serif !important;
}
*::selection {
  background: var(--secondary);
  background-size: cover;
}
a {
  text-decoration: none;
}
html,
body {
  overflow-x: hidden !important;
  padding: 0 !important;
  margin: 0 !important;
  /* background:var(--logoGrad); */
  background-repeat: no-repeat;
  height: 100vh;
}
.mp4 {
  margin: 4px;
  padding: 4px;
}
.mp8 {
  margin: 8px;
  padding: 8px;
}
.cflex {
  /* common Flex-Column properties */
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
  flex-wrap: wrap !important;
}
.rflex {
  /* common Flex-Row properties */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
  flex-wrap: wrap !important;
}
.f2 {
  font-size: 24pt;
  color: var(--logoOrange);
}
/*Navbar*/
nav {
  width: 100vw;
  z-index: 1;
  position: fixed !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.sec1 {
  padding-top: 88px;
}
.resCard {
  width: fit-content;
  box-shadow: 0px 0px 4px 1px rgb(85, 124, 202);
  border-radius: 8px;
}

.resImg {
  width: 256px;
  height: 256px;
  border-radius: 50%;
  object-fit: cover;
}
.logo {
  height: 48px !important;
}
.ideathonLogo {
  display: flex;
  justify-content: flex-start;
}
.enigmaLogo {
  height: 24px !important;
  padding-right: 40px;
}

/*Footer section styling*/
.footer {
  margin: -8px 0px;
  color: #ffffff;
  background-color: var(--dark);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 0px;
}
.fCol1 {
  grid-area: 1 / 1 / 2 / 2;
}
.fCol2 {
  grid-area: 1 / 2 / 2 / 3;
}
.fCol3 {
  grid-area: 1 / 3 / 2 / 4;
}
.fRow2 {
  grid-area: 2 / 1 / 3 / 4;
}

.socialLogo {
  width: 32px;
  height: 32px;
}
.logoFtr {
  width: 88px;
  height: 88px;
}
.fCol2 path:hover {
  fill: #fff;
}
.fRow2 a {
  color: #fff;
}
@media (max-width: 560px) {
  .logoFtr {
    width: 48px;
    height: 48px;
  }
}
