:root{
    --primary:#ffba08;
    --navbg:#03071e;
    --secondary:#ef233c;
    --neutral:#dee2ff;
    --tertiery:#fbea68;
    --dark:#303030;
    --logoBlue:#134FA6;
    --logoOrange:#FF914D;
    /* --content:#134FA6; */
    --logoGrad:linear-gradient(180deg, #134FA6 0%, #FF914D 100%);
}
*{
    transition: all 0.16s linear;
    font-family: "Open Sans", arial, sans-serif !important;
}
*::selection {
    background: var(--secondary);
    background-size:cover;
 }
 a{
     text-decoration: none;
 }
 html,body{
    overflow-x: hidden !important;
    padding: 0 !important;
    margin: 0 !important;
    /* background:var(--logoGrad); */
    background-repeat:no-repeat;
    height:100vh;  
}
.mp4{
    margin: 4px;
    padding: 4px;
}
.mp8{
    margin: 8px;
    padding: 8px;
}
.cflex{ /* common Flex-Column properties */
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align: center;
    flex-wrap: wrap;
}
.rflex{ /* common Flex-Row properties */
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    flex-wrap: wrap;
}
.f2{
    font-size: 24pt;
    color:var(--logoOrange);
}
/*Navbar*/
nav{ 
    width:100vw;
    z-index:1;
    position: fixed !important;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    background-color:rgb(255, 255, 255);
}
.sec1{
padding-top: 88px;
}

.logo{
    width:48px !important;
    height: 48px !important;
}
.ideathonLogo{
    display:flex;
    justify-content:flex-start;
}
.enigmaLogo{
  display:flex;
  justify-content:flex-end;
}
.tWrapper{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #3962a02c;
    border-radius: 0px 16px 0px 16px;
    box-shadow: 0px 1px 4px 2px rgba(180, 180, 180, 0.75);
}
.tHead{
    background-color: var(--logoOrange);
    border-radius: 0px 16px 0px 16px;
    box-shadow: 0px 1px 4px 2px rgba(180, 180, 180, 0.75);
}
.tContent,.tNo{
    background:var(--logoBlue);
    color: rgb(253, 250, 248);
    border-radius: 0px 16px 0px 16px;
    box-shadow: 0px 1px 4px 2px rgba(180, 180, 180, 0.75);
}
.tNo{
    width:fit-content;
    margin-left:64px;
}
/*Footer section styling*/

.footer{
    margin:-8px 0px;
    color: #ffffff;
    background-color: var(--dark);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 0px; 
}
    .fCol1 { grid-area: 1 / 1 / 2 / 2; }
    .fCol2 { grid-area: 1 / 2 / 2 / 3; }
    .fCol3 { grid-area: 1 / 3 / 2 / 4; }
    .fRow2 { grid-area: 2 / 1 / 3 / 4; }
    
    .socialLogo{
        width:32px;
        height:32px;
    }
    .logoFtr{
        width:88px;
        height:88px;
    }
    .fCol2 path:hover{
        fill: #fff;
    }
    .fRow2 a{
        color: #fff;
    }